<div>
  <ul id="contact">
    <li>
      <img [src]="contact.email.img" [alt]="contact.email.name" /><a
        [href]="contact.email.myemail"
        >{{ contact.email.name }}</a
      >
    </li>
    <li>
      <img [src]="contact.phone.img" alt="contact.phone.name" /><a
        [href]="contact.phone.myphone"
        >{{contact.phone.name}}</a
      >
    </li>
    <li>
      <img [src]="contact.github.img" /><a
        [href]="contact.github.mygithub"
        >{{contact.github.name}}</a
      >
    </li>
  </ul>
</div>
