ul {
  display: flex;

  justify-content: space-around;
}

li {
  list-style-type: none;
  margin-top: 8vh;
  transition: 500ms ease-in-out;

}


li:hover {
  transform: scale(1.2) translateY(-10px);
  transition: transform 200ms ease-in-out;
}

a {
  margin-top: 80px;
  font-size: 2rem;
  color: var(--white);
  font-weight: 900;
  text-decoration: none;

}

a:hover {
  color: var(--blue-light);

}

div {
  background-color: var(--grey);
  width: 100vw;
  height: 20vh;
}
