header {
  width: 100%;
  height: 120px;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--white);
  box-shadow: 0 5px 20px var(--blue-light);
  position: sticky;
  top: -20px;
  z-index: 10;
}

img {
  height: 100px;
  transition: transform 500ms ease-in-out;
  margin-left: 10px;
}

img:hover {
  transform: scale(1.2) translate(10px, -10px);
  transition: transform 200ms ease-in-out;
}

h1 {
  font-size: 3.2rem;
  color: var(--white);
  font-weight: 900;
  text-shadow: 0 0 4px var(--grey);
  display: none;
}

ul {
  display: flex;
  display: none;
}

li a,
li {
  font-size: 2rem;
  margin: 20px;
  list-style: none;
  text-decoration: none;
  color: var(--white);
  font-weight: 900;
  transition: transform 500ms ease-in-out;
}

li:hover {
  transform: scale(1.2) translate(0, -10px);
  transition: transform 200ms ease-in-out;
}

li a:hover {
  color: var(--grey);
  text-shadow: 0 0 4px var(--white);
  transition: transform 200ms ease-in-out;
}

header button {
  background-color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--grey);
  width: 100px;
  padding: 8px;
  margin-right: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--grey);
  cursor: pointer;
  border: none;
}

header button:active {
  background-color: var(--blue-light);
  color: var(--white);
  text-shadow: 0 0 4px var(--grey);
  border: 1px solid var(--white);
}

@media only screen and (min-width: 700px) {
  h1 {
    display: block;
  }


}

@media only screen and (min-width: 1200px) {
h1 {
    display: block;
  }

  ul {
    display: flex;
  }
}
