header {
  width: 100%;
  height: 100px;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--white);
}
header figure img {
  height: 100px;
}
header h1 {
  font-size: 3.2rem;
  color: var(--white);
  font-weight: 900;
}
nav ul {
  display: flex;
}
nav ul li a {
  font-size: 1.6rem;
  margin: 20px;
  list-style: none;
  text-decoration: none;
  color: var(--white);
  font-weight: 900;
}
header button {
  background-color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--grey);
  width: 100px;
  padding: 8px;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
}
header button:active {
  background-color: var(--blue-light);
  color: var(--white);
}

@media (max-width: 1200px) {
  nav {
    display: none;
  }
}
@media (max-width: 450px) {
  header figure img {
    width: 40vw;
    /* height: 20vh; */
    margin: 20px 0;
  }

}
@media (max-width: 700px) {
  h1 {
    display: none;
  }
}

