<header>
  <figure>
    <a href="https://argentinaprograma.inti.gob.ar/"><img
      src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1643416595/APLogo-20-20.png"
      alt="logo-argentina-program"
    /></a>

  </figure>

  <h1>CURRICULUM VITAE</h1>

  <nav>
    <ul>
      <li><a href="#about">Acerca de</a></li>
      <li><a href="#project">Proyectos</a></li>
      <li><a href="#contact">Contactame</a></li>
    </ul>
  </nav>

  <button (click)="ingresar()">INGRESA</button>
</header>
