.background-image {
  background-image: url("../../../assets/image/background-picture-xl.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 300px;
  border-bottom: 3px solid var(--white);
  box-shadow: 0 5px 20px var(--blue-light);
  filter: blur(5px);
}

@media only screen and (min-width: 700px) {
  .background-image {
    height: 600px;
  }
}
