.profile-image img {
  background-image: url("../../../assets/image/profile-picture.jpeg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -130px;
  left: 25%;
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 10px var(--blue-light);
  border: 3px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
  transition: transform 500ms ease-in-out;
}
.profile-image img:hover {
  transform: scale(1.2);
  transition: transform 200ms ease-in-out;
}

h2 {
  font-size: 4rem;
  color: var(--blue);
  font-weight: 900;
  text-shadow: 2px 2px var(--grey);
  margin-top: 160px;
}

h3 {
  margin-top: 20px;
  font-size: 3.6rem;
  color: var(--grey);
  font-weight: 900;
}

section {
  /* margin: 40px; */
  margin: 0 40px;
  /* padding: 40px; */
}
