h2 {
  font-size: 4rem;
  color: var(--blue);
  font-weight: 900;
  text-shadow: 2px 2px var(--grey);
}

h3 {
  margin-top: 20px;
  font-size: 3.6rem;
  color: var(--grey);
  font-weight: 900;
}

section {
  margin: 40px;
  margin-top: 80px;
  /* padding: 10px; */
}
