<h3 id="project">Mis Proyectos</h3>

<div class="container">
  <div class="card">
  <h4>Proyecto 1</h4>
  <a href="">
    <figure>
      <img src="../../../assets/icon/external-content.duckduckgo.com.jpeg" alt="simon-dice">
      <figcaption>descripcion del proyecto</figcaption>
    </figure>
  </a>
</div>

<div class="card">
  <h4>Proyecto 2</h4>
  <a href="">
    <figure>
      <img src="../../../assets/icon/icon.png" alt="simon-dice">
      <figcaption>descripcion del proyecto</figcaption>
    </figure>
  </a>
</div>

<div class="card">
  <h4>Proyecto 3</h4>
  <a href="">
    <figure>
      <img src="../../../assets/icon/logo-30.png" alt="simon-dice">
      <figcaption>descripcion del proyecto</figcaption>
    </figure>
  </a>
</div>

</div>
