<app-header></app-header>
<app-profile-picture-and-background></app-profile-picture-and-background>

<!-- acerca de -->
<div class="acerca-de">
  <section class="nombre">
    <h2>FULLSTACK DEVELOPER</h2>
    <h3>Catriel Pérez</h3>
  </section>
  <section class="presentacion">
    <h3>Acerca de mí</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      eius perferendis a, placeat unde debitis voluptate. Quo consequuntur
      doloremque ipsum quasi ducimus, minus alias temporibus ab, culpa
      aliquid laudantium cumque saepe nesciunt tenetur voluptatibus ea,
      officiis iusto modi deleniti mollitia possimus eaque soluta. Ut cumque
      asperiores fuga quos explicabo, praesentium quidem obcaecati libero,
      maiores ratione reiciendis dignissimos quaerat assumenda ex nihil
      doloremque facilis deleniti in voluptates, dolores similique quod
      ipsam aut? Numquam explicabo placeat debitis cupiditate fuga dicta
      quaerat quas exercitationem quis aspernatur esse facilis nostrum
      sapiente, similique magnam eaque eveniet quam obcaecati nemo
      voluptatibus doloremque. Veritatis tempora est laborum itaque nulla
      tempore, accusantium distinctio provident, placeat minus culpa.
      Voluptates voluptatibus quis ab iure consectetur, laudantium ullam
      illo reprehenderit magni possimus provident doloribus ipsa inventore
      neque, delectus, temporibus harum repellendus tempore. Nobis impedit
      quam suscipit a delectus, corporis dolores quo?
    </p>
  </section>
</div>
