main {
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  /* grid-template-rows: repeat(1fr); */
  /* grid-area: "
  title about
  title eduacation
  title experience
  title project
  title skill
  "; */
  filter: blur(12px);
  filter:none;
  /* background-color: var(--grey);
  opacity: 1; */
}
.container {
  display: grid;
  grid-template-areas:
    "title about"
    "title education"
    "title experience"
    "title project"
    "title skill";
}

app-title {
  /* grid-area: title; */
  display: absolute;
  position: sticky;
  top: 300px;
}

app-presentation {
  grid-area: about;
}

app-experience {
  grid-area: experience;
}

app-education {
  grid-area: education;
}

app-myProjects {
  grid-area: project;
}

app-skills {
  grid-area: skill;
}
