/* .container {

  background-color: var(--grey);
} */

form {
  background-color: var(--blue);
  width: 400px;
  height: 350px;
  position: fixed;
  top: calc(50% - 175px);
  left: calc(50% - 200px);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--blue-light);
  z-index: 20;
}

h2 {
  font-size: 3.6rem;
  color: var(--white);
  text-shadow: 0 0 4px var(--grey);
  margin-bottom: 30px;
}

p {
  font-size: 2.4rem;
  color: var(--grey);
  margin-top: 10px;
}

input {
  background-color: var(--white);
  width: 365px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px var(--grey);
  color: var(--grey);
  text-shadow: 0 0 4px var(--blue);
  font-size: 2.4rem;
  padding: 10px;
  margin-top: 20px;
  outline: none;
}
input:focus {
  outline: 3px solid var(--grey);
}


button {
  font-size: 2.4rem;
  margin-top: 40px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px var(--grey);
  color: var(--grey);
  background-color: var(--white);
}
button:active {
  background-color: var(--grey);
  color: var(--white)
}

