<div class="container">
  <form>
    <h2>Registrate</h2>

    <label>
      <!-- <p>Ingresa tu email</p> -->
      <input
        type="text"
        #inputEmail="ngModel"
        [(ngModel)]="password"
        placeholder="{{ email }}"
      />
    </label>

    <label>
      <input
        type="text"
        required
        #inputPassword="ngModel"
        [(ngModel)]="password"
        placeholder="{{ password }}"
      />

      <!-- Example 1: <input [(ngModel)]="password" name="first"> -->
      <!-- Example 2: <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}/> -->

      <p>Valid: {{ inputEmail.valid || inputPassword.valid ? true : "" }}</p>
    </label>

    <button (click)="saludo(password)" >Aceptar</button>
  </form>
</div>
