<form [formGroup]="form">
  <h2>Registrate</h2>

  <label class="form-label" for="email">
    <input type="email" formControlName="email" class="form-control" id="email" aria-describedby=""/>
    <div **ngIf="Email?.errors && Email?.touched">
      <p *ngIf="Email?.hasError('required')">El email es requerido</p>
      <p *ngIf="Email?.hasError('email')">El formato del email debe ser valido</p>
    </div>
  </label>

  <label class="form-label" for="password">
    <input name="password" type="password" formControlName="password" class="form-control" id="password"/>
    <div *ngIf="Password?.errors && Password touched">
      <p *ngIf="Password?.hasError('required')">La contraseña es requerida</p>
      <p *ngIf="Password?.errors?.['minLength']">La contraseña debe ser de 8 o mas caracteres</p>
    </div>
  </label>

  <button type="submit" (ngSubmit)="onEnviar($event)">Aceptar</button>
</form>
