@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap");

:root {
  --white: #f4f9f9;
  --blue-light: #ccf2f4;
  --blue: #a4ebf3;
  --grey: #aaaaaa;
  --font: "lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h3 {
  margin-top: 80px;
  font-size: 3.6rem;
  color: var(--blue);
  font-weight: 900;
}
