* {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-rows: 120px 670px;
}

menu {
  width: 100vw;
  height: 120px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -20px;
}

.logo-ap img {
  width: 150px;
  height: 150px;
  margin-left: 16px;
}

h1 {
  color: white;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 20px;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

button {
  width: 200px;
  height: 60px;
  margin-right: 24px;
}

.background-image {
  width: 100vw;
  position: fixed;
  top: -240px;
  z-index: -10;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "aside main"
  "aside main"
  "aside main"
  "aside main"
  ;
  color: white;
  background-color: aqua;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}
