<h3 id="about">Acerca de mí</h3>
<h4>Estimado Recruiter,</h4>
<p>
  Busca un Programador Web FullStack? Para un training en su empresa? Con
  conocimientos en JS, AngularJS, Java SE, MySql, HTML, CSS, Bootstrap, y
  metodologías ágiles? Con excelentes habilidades de comunicación oral y
  escrita? Pasión por aprender y mejorar sus habilidades y conocimientos?
</p>
<p>
  Si es así, no necesita buscar más. Como puede ver en mi currículo, cumplo
  todos esos requisitos y muchos más. Me gustaría hablar sobre las oportunidades
  de trabajar con Uds. Para programar una entrevista,llámame al (54)
  03541-15638060. El mejor momento para ponerse en contacto conmigo es a desde
  las 8 am. hasta las 4 pm., pero puede dejarme un mensaje de voz en cualquier
  momento y le devolveré la llamada.
</p>
<p>
  Gracias por tomarse la molestia de revisar mi currículum. Espero hablar con
  usted pronto. Atentamente, Catriel Pérez. Adiós.
</p>
